O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
/configuration/org.eclipse.core.runtime/
/configuration/org.eclipse.equinox.app/
/configuration/org.eclipse.osgi/
