O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIoc.bat
/configuration/org.eclipse.core.runtime/
/configuration/org.eclipse.equinox.app/
/configuration/org.eclipse.osgi/
